<html>
<h3>Current Employees: </h3>
{{#if PNO}}
<h4>Project {{PNO}}: {{Projectname}} located in {{Projectlocation}} </h4>
{{/if}}
<table id='t01'>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Salary</th>
        <th>Dno</th>  
    </thead> 
    <tbody>
        {{#each employee}} 
        <tr> 
            <td>{{Fname}}</td> 
            <td>{{Lname}}</td> 
            <td>{{Salary}}</td> 
            <td>{{Dno}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>
<p>
<form id='filter_employee' action='' method=''>
<!---this form does not submit directly, the button handles all the interation with back end-->
<label>Filter Employees by Project: </label>
    <select id='project_filter' name='project'>
        {{#each projects}}
        <option value="{{Pnumber}}">{{Pname}}</option>
        {{/each}}
    </select>

    <input type="button" class="green_button" value="Filter" onclick="filterEmployeeByProject()">
    <a href="/employee" class="green_button">Clear Filter</a>
</form>
</p>
<form id='search_employee' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend-->
    <label>Search all employees for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" class="green_button" value="Search" onclick="searchEmployeeByFirstName()">
</form>

</html>
